{% extends "base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bed Booking Slip</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="slip">

        <!-- 🔥 HOSPITAL NAME -->
        <h2 style="text-align:center; color:#03305f;">
            🏥 City Care Hospital
        </h2>

        <h3>🛏 Bed Booking Slip</h3>

        <!-- ✅ USE booking (NOT data) -->
        <p><strong>Booking ID:</strong> {{ booking.id }}</p>
        <p><strong>Bed ID:</strong> {{ booking.bed_id }}</p>
        <p><strong>Patient ID:</strong> {{ booking.patient_id }}</p>

        <p><strong>Name:</strong> {{ booking.patient_name }}</p>
        <p><strong>Contact:</strong> {{ booking.contact_number }}</p>
        <p><strong>Bed Type:</strong> {{ booking.bed_type }}</p>
        <p><strong>Emergency Type:</strong> {{ booking.emergency_type }}</p>

        <p><strong>Admission Date:</strong> {{ booking.admission_date }}</p>

        <p><strong>Status:</strong> {{ booking.status }}</p>

        <div class="btn-group">
            <button class="btnslip" onclick="window.print()">🖨️ Print Slip</button>
        </div>

    </div>

</body>
</html>

{% endblock %}