{% extends "base.html" %}

{% block title %}Home | City Care Hospital{% endblock %}

{% block body_class %}home-bg{% endblock %}

{% block content %}
<header class="text-center mt-3">
    <h1 style="color:#7CFFB2;">City Care Hospital</h1>
</header>
<div class="hero-section">

    <div class="hero-text">
        <h5 class="tagline">
            Healthcare Clinics & Partnership Organizations
        </h5>

        <h1>
            Our expertise at <br>
            <span>your service</span>
        </h1>

        <div class="hero-buttons">
            

            <a href="#" class="btn btn-light">
                Book an Appointment
            </a>

            <a href="#" class="btn btn-success">
                Have an Emergency?
            </a>
        </div>
    </div>

</div>
{% endblock %}
