{% extends "base.html" %}

{% block content %}

<div class="login-container">
    <h2>Hospital Admin Login</h2>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center mt-3">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" autocomplete="off">
        <input type="text" name="username" placeholder="Enter Username" autocomplete="off" required>
        <input type="password" name="password" placeholder="Enter Password" autocomplete="new-password" required>
        <button type="submit">Login</button>
    </form>

    <p>
        Don't have an account?
        <a href="{{ url_for('register') }}">Register here</a>
    </p>
</div>

{% endblock %}